<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :word %><br>
    <%= form.text_field :name %>
  </p>
 
  <ol>
  <% word_definitions.each do |word_definition| %>
    <%= form.fields_for(word_definition) do |word_definition_form| %>
      <%= word_definition_form.fields_for(word_definition.definition) do |definition_form| %>
          <li>
            <p>
              <%= definition_form.label :definition %>
              <%= definition_form.text_field :text %>
            </p>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ol>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
