<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.name %>
</p>
 
<p>
  <strong>Definitions:</strong>
  <ol>
  	<% @word.definitions.each do |definition| %>
  		<li>
  			<%= definition.text %>
  		</li>
  	<% end %>
  </ol>
</p>

<p>
  <strong>Synonyms:</strong>
  <ul>
    <% @word.synonyms.each do |synonym| %>
      <li>
        <%= synonym %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
